@import "smart-grid.sass"
@import "variables.sass"


main
	section.content-1
		background-image: url('../img/bg-1.png')
		background-size: cover
		background-position: center
		position: relative
		padding: 230px 0 150px 0
		color: $white
		display: flex
		justify-content: center
		align-items: center
		a
			transition: all .4s
			&:hover
				transition: all .4s
		.content-wrapper
			flex-direction: column
			align-items: center
			text-align: center
			h1
				+font($header-font, 92px, 700)
				letter-spacing: 0.075em
			img
				margin: 50px 0 0 0
			p
				margin: 70px 0
				+font($text-font, 24px, 400)
			a
				background-color: rgba(86, 83, 76, .53)
				padding: 20px 50px
				+font($accent-font, 14px, 700)
				color: $white
				text-transform: uppercase
				letter-spacing: 0.3em
				border: 1px dashed #9e9c93
				&:hover
					background-color: rgba(255,255,255, 0.53)
					color: $hover
					border-color: $hover
		img.bread
			position: absolute
			bottom: -53px
			left: 50%
			transform: translateX(-50%)
	section.content-2
		background-image: url('../img/bg-2.png')
		background-size: cover
		background-position: center
		padding-top: 106px
		margin-top: -53px
		a
			transition: all .4s
			&:hover
				transition: all .4s
		.content-wrapper
			align-items: center
			justify-content: space-around
			.chef
				+col-6
				+col-md-12()
				+col-sm-12()
				+col-xs-12()
				display: flex
				flex-direction: column
				align-items: center
				color: $text-color
				text-align: center
				margin: 60px 0 100px 0
				h2
					+font($accent-font, 48px, 700)
					line-height: 1
				p.sub-header
					text-transform: uppercase
					+font($accent-font, 14px, 400)
					color: #a47d5e
				p.main-text
					+font($text-font, 14px, 400)
					line-height: 1.7
					margin: 70px 0px 45px 0px
				h3
					+font($accent-font, 24px, 700)
					margin-bottom: 45px
				.chef-photo
					display: flex
					width: 100%
					max-width: 320px
					justify-content: space-between
					align-items: center
					p
						+font($accent-font, 24px, 400)
						padding: 0 10px
						position: relative
						&:before
							content: ''
							width: 100%
							height: 1px
							background-color: #d7d5ca
							position: absolute
							top: -15px
							left: 0
						&:after
							content: ''
							width: 100%
							height: 1px
							background-color: #d7d5ca
							position: absolute
							bottom: -15px
							left: 0
				.chef-copy
					display: flex
					width: 100%
					max-width: 320px
					justify-content: space-between
					align-items: center
					p
						margin: 20px 0
						+font($logo-font, 24px, 300)
						color: #a47d5e
					.left-quote
						align-self: flex-start
					.right-quote
						align-self: flex-end
			.cake-img
				+col-6
				+col-md-12()
				+col-sm-12()
				+col-xs-12()
				display: flex
				justify-content: center
				align-items: center
				flex-wrap: wrap
				position: relative
				margin: 40px 0
				img
					width: 50%
					max-width: 313px
				.cover-logo
					width: 100%
					max-width: 247px
					height: auto
					position: absolute
					top: 50%
					transform: translateY(-50%)
	section.content-3
		background-image: url('../img/bg-3.png')
		background-size: cover
		background-position: center
		padding:
			top: 130px
			bottom: 110px
		.content-wrapper
			+align-items-lg(center)
			.pancake
				+col-4
				+offset-left(1)
				+col-md-12()
				+offset-left-md(0)
				img
					margin: 0 auto
			.pancake-text
				+col-5
				+col-md-12()
				position: relative
				color: $text-color
				display: flex
				flex-direction: column
				padding: 40px 60px 0 60px
				justify-content: center
				background-color: $white
				background-image: url('../img/windmill.png')
				background-repeat: no-repeat
				background-position: right bottom
				h2
					+font($accent-font, 48px, 700)
					line-height: 1
				p.sub-header
					text-transform: uppercase
					+font($accent-font, 14px, 400)
					color: #a47d5e
					margin-top: 10px
				p.main-text
					+font($text-font, 14px, 400)
					line-height: 1.7
					margin: 20px 0px
				.ready-pop
					background-image: url('../img/pop-bg.png')
					width: 200px
					height: 200px
					position: absolute
					top: -85px
					right: -100px
					display: flex
					flex-direction: column
					justify-content: center
					align-items: center
					box-shadow: -20px 20px 60px -2px rgba(105,80,58,1)
					+font($accent-font, 18px, 400)
					p.ready
						color: #a47d5e
						text-transform: uppercase
					p.number
						color: #dfc691
						font-size: 92px
						line-height: 1
					p.mins
						color: #979285
				.bx-wrapper
					box-shadow: none
					margin: 0 auto
					border: none
					width: 100%
					max-width: 485px!important
					.bx-viewport
						height: 90px

					.slide
						display: flex
						justify-content: space-around
						align-items: center

				.bx-controls
					.bx-prev
						left: -5px
						background: url('../img/arrow-left.png')
						transition: all 0.4s
						&:hover
							background: url('../img/arrow-left-hover.png')
					.bx-next
						right: -5px
						background: url('../img/arrow-right.png')
						transition: all 0.4s
						&:hover
							background: url('../img/arrow-right-hover.png')
	section.content-4
		background-image: url('../img/bg-4.png')
		background-size: cover
		background-position: center
		padding: 80px 0
		.content-wrapper

			.left-column
				+flex-basis(50%)
				+flex-basis-md(100%)
				text-align: center
				h2
					+font($accent-font, 48px, 700)
					line-height: 1
					color: $white

				p.sub-header
					text-transform: uppercase
					+font($accent-font, 14px, 400)
					color: #a47d5e

				h3
					+font($accent-font, 30px, 700)
					letter-spacing: 0.05em
					color: $white
					margin-top: 55px

				p.breakfast-desc
					+font($accent-font, 16px, 400)
					color: #c2beba
					letter-spacing: 0.05em

				p.price
					+font($accent-font, 36px, 400)
					color: #dfc691
			.right-column
				+flex-basis(50%)
				+flex-basis-md(100%)
				max-width: 420px
				display: flex
				padding: 10px
				align-items: center
				background-color: #f3f1e9
				.menu
					display: flex
					height: 100%
					flex-direction: column
					align-items: center
					border: 1px dashed #9e9c93
					padding: 0 15px
					.menu-head
						width: 100%
						display: flex
						justify-content: space-around
						margin: 20px 0
						p
							+font($accent-font, 14px, 700)
							color: #56534c
							text-transform: uppercase

					h4
						+font($accent-font, 44px, 700)
						color: #56534c
						text-align: center
						margin: 40px 0

					p
						+font($text-font, 14px, 400)
						color: #56534c

					a
						margin: 80px 0 20px
						padding: 10px 50px
						+font($accent-font, 14px, 700)
						color: #a47d5e
						text-transform: uppercase
						letter-spacing: 0.3em
						border: 1px solid #9e9c93
						&:hover
							background-color: (164, 125, 94, 0.5)
	section.content-5
		background-color: #f3f1e9
		padding: 50px 0
		.content-wrapper
			align-items: center
			.cont-5-headr
				position: relative
				text-align: center
				margin: 0 auto
				width: 100%
				z-index: 10
				h2
					+font($accent-font, 48px, 700)
					color: #56534c

				p.sub-header
					text-transform: uppercase
					+font($accent-font, 14px, 400)
					color: #a47d5e
					margin-top: 10px
				img
					position: absolute
					width: 120px
					height: auto
					top: -40px
					z-index: -1
					left: 50%
					transform: translateX(-50%)
			.cont-5-products
				+col-3
				+col-md-12()
				.prod-item
					display: flex
					flex-direction: column
					align-items: center
					h5
						+font($accent-font, 30px, 400)
						color: #a47d5e
					&:nth-child(2)
						margin: 50px 0
					p
						+font($text-font, 14px, 400)
						color: #56534c
						text-align: center
						margin-top: 20px
			.cont-5-img
				+col-9
				+col-md-12()
				position: relative
				.recipe
					position: absolute
					bottom: 10px
					left: 30px
					a
						padding: 20px 50px
						background-color: $white
						+font($accent-font, 14px, 700)
						color: #a47d5e
						text-transform: uppercase
						letter-spacing: 0.3em
						border: 1px solid #9e9c93
				.ready-pop-cont-5
					background-image: url('../img/pop-bg.png')
					width: 200px
					height: 200px
					position: absolute
					top: -85px
					right: -30px
					display: flex
					flex-direction: column
					justify-content: center
					align-items: center
					box-shadow: -20px 20px 60px -2px rgba(105,80,58,1)
					+font($accent-font, 18px, 400)
					p.ready
						color: #a47d5e
						text-transform: uppercase
					p.number
						color: #dfc691
						font-size: 92px
						line-height: 1
					p.mins
						color: #979285
