@import "smart-grid.sass"
@import "variables.sass"


footer
	background-color: #f3f1e9
	.content-wrapper
		flex-direction: column
		ul
			border: 1px dashed #a47d5e
			display: flex
			width: 100%
			justify-content: center
			+flex-direction-sm(column)
			+align-items-sm(center)
			li
				margin: 10px
				color: #ffffff
				&:nth-last-child()
					margin: 0
				a
					letter-spacing: 0.3em
					+font($accent-font, 14px, 400)
					text-transform: uppercase
		.copy
			padding: 20px 0
			p
				+font($accent-font, 10px, 400)
				text-transform: uppercase
				letter-spacing: 0.05em
