@import "smart-grid.sass"
@import "variables.sass"


header
	position: absolute
	top: 0
	left: 0
	width: 100%
	z-index: 100
	background-color: rgba(86, 83, 76, .53)
	.head
		+row-flex
		+wrapper
		+flex-direction-md(column)
		+flex-direction-sm(row)
		justify-content: space-between
		align-items: center
		a
			color: $white
			transition: all .4s
			&:hover
				color: #bda57d
				transition: all .4s
		.logo
			+flex-basis-sm(50%)
			a
				+font($logo-font, 30px, 400)
				letter-spacing: 0.3em
				&:hover
					color: $white

		.hamburger
			+flex-basis-sm(50%)
			max-width: 50px
		nav
			+flex-basis-sm(100%)
			ul
				display: flex
				width: 100%
				justify-content: center
				+flex-direction-sm(column)
				+align-items-sm(center)
				li
					color: #ffffff
					&:nth-child(2n)
						margin: 0 40px
					a
						letter-spacing: 0.3em
						+font($accent-font, 14px, 400)
						text-transform: uppercase
		.social
			ul
				display: flex
				li
					color: #ffffff
					&:nth-child(2)
						margin: 0 28px
					a
						font-size: 24px
