@media screen and (max-width: 1150px)
	nav>ul>li:nth-child(2n)
		margin: 0 20px!important

@media screen and (max-width: 1200px)
	.pancake-text
		padding: 25px!important
	.bx-prev
		left: -20px!important
	.bx-next
		right: -20px!important
	main section.content-3 .content-wrapper .pancake-text .ready-pop
		top: -100px!important
		right: -110px!important

@media screen and (max-width: 960px)

	.cont-5-img
		margin-top: 90px

	.chef
		margin-bottom: 0!important
	main section.content-3 .content-wrapper .pancake-text .ready-pop
		right: -40px!important
	.pancake-text
		width: 100%
		max-width: 545px
		margin: 40px auto 0 auto
	header>.head>nav
		margin: 15px 0

	main>.content-1>.content-wrapper>h1
		font-size: 75px!important

	main section.content-4 .content-wrapper .right-column
		margin: 20px auto!important

@media screen and (max-width: 560px)
	main section.content-3 .content-wrapper .pancake-text .bx-wrapper
		width: 220px!important
	main section.content-3 .content-wrapper .pancake-text .bx-controls .bx-next
		right: -30px!important
	main section.content-3 .content-wrapper .pancake-text .bx-controls .bx-prev
		left: -30px!important

	main section.content-4 .content-wrapper .right-column h4

		font-size: 32px!important

	main section.content-4 .content-wrapper .left-column h3

		margin-top: 30px!important

	main section.content-5 .content-wrapper .cont-5-img .ready-pop-cont-5
		font-size: 60%!important
		width: 120px!important
		height: 130px!important
		top: -50px!important

@media screen and (max-width: 680px)

	.ready-pop-cont-5
		width: 160px!important
		height: 160px!important
		top: -50px!important
	.slide>img
		width: 50px!important
		height: 50px!important
	main section.content-3 .content-wrapper .pancake-text .bx-wrapper .bx-viewport
		height: 55px!important
	main section.content-3 .content-wrapper .pancake-text .ready-pop
		top: -180px!important
		right: -15px!important
	header .head .logo a
		font-size: 20px!important

	.cake-img img
		width: 100%!important


	#hamburger.is-active .line:nth-child(1)
		transform: translateY(11px) rotate(45deg)!important

	.hamburger .line
		width: 30px!important
		height: 3px!important

	main>.content-1>.content-wrapper>p
		font-size: 16px!important
		margin:  40px 0!important

	main>.content-1>.content-wrapper>h1
		font-size: 33px!important

	header>.head
		padding:
			top: 0!important
			bottom: 0!important
	header>.head
		background-color: rgba(86, 83, 76, 0.73)!important
	header>.head>nav
		display: none

	header>.head>nav>ul>li:nth-child(2n)
		margin: 5px!important

	.social
		display: none

	.hamburger
		display: block

@media screen and (max-width: 680px) and (min-height: 480px)
	body>main>section.content-1
		height: 100vh!important
		padding: 0!important
@media screen and (max-width: 400px)
	main section.content-2 .content-wrapper .chef .chef-photo p
		font-size: 17px!important

@media screen and (min-width: 681px) and (min-height: 720px)
	body>main>section.content-1
		height: 100vh!important
		padding: 0!important

@media screen and (min-width: 961px) and (min-height: 580px)
	body>main>section.content-1
		height: 100vh!important
		padding: 0!important

@media screen and (min-width: 681px)
	.hamburger
		display: none

	header>.head>nav
		display: block!important
