$accent-font: 'Alegreya', arial, sans-serif

$logo-font: 'Scriptina', arial, sans-serif

$header-font: 'Playfair Display', arial, sans-serif

$text-font: 'Proxima Nova', arial, sans-serif

$text-color: #56534c


$white: #ffffff

$hover: #483d34

=font($family, $size, $weight)
	font:
		family: $family
		size: $size
		weight: $weight
