main section.content-1 {
  background-image: url("../img/bg-1.png");
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 230px 0 150px 0;
  color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  main section.content-1 a {
    -webkit-transition: all .4s;
    transition: all .4s; }
    main section.content-1 a:hover {
      -webkit-transition: all .4s;
      transition: all .4s; }
  main section.content-1 .content-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }
    main section.content-1 .content-wrapper h1 {
      font-family: "Playfair Display", arial, sans-serif;
      font-size: 92px;
      font-weight: 700;
      letter-spacing: 0.075em; }
    main section.content-1 .content-wrapper img {
      margin: 50px 0 0 0; }
    main section.content-1 .content-wrapper p {
      margin: 70px 0;
      font-family: "Proxima Nova", arial, sans-serif;
      font-size: 24px;
      font-weight: 400; }
    main section.content-1 .content-wrapper a {
      background-color: rgba(86, 83, 76, 0.53);
      padding: 20px 50px;
      font-family: "Alegreya", arial, sans-serif;
      font-size: 14px;
      font-weight: 700;
      color: #ffffff;
      text-transform: uppercase;
      letter-spacing: 0.3em;
      border: 1px dashed #9e9c93; }
      main section.content-1 .content-wrapper a:hover {
        background-color: rgba(255, 255, 255, 0.53);
        color: #483d34;
        border-color: #483d34; }
  main section.content-1 img.bread {
    position: absolute;
    bottom: -53px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }

main section.content-2 {
  background-image: url("../img/bg-2.png");
  background-size: cover;
  background-position: center;
  padding-top: 106px;
  margin-top: -53px; }
  main section.content-2 a {
    -webkit-transition: all .4s;
    transition: all .4s; }
    main section.content-2 a:hover {
      -webkit-transition: all .4s;
      transition: all .4s; }
  main section.content-2 .content-wrapper {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
    main section.content-2 .content-wrapper .chef {
      width: -webkit-calc(50% - 15px);
      width: calc(50% - 15px);
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      color: #56534c;
      text-align: center;
      margin: 60px 0 100px 0; }
      @media screen and (max-width: 960px) {
        main section.content-2 .content-wrapper .chef {
          width: -webkit-calc(100% - 15px);
          width: calc(100% - 15px); } }
      @media screen and (max-width: 680px) {
        main section.content-2 .content-wrapper .chef {
          width: -webkit-calc(100% - 15px);
          width: calc(100% - 15px); } }
      @media screen and (max-width: 560px) {
        main section.content-2 .content-wrapper .chef {
          width: -webkit-calc(100% - 15px);
          width: calc(100% - 15px); } }
      main section.content-2 .content-wrapper .chef h2 {
        font-family: "Alegreya", arial, sans-serif;
        font-size: 48px;
        font-weight: 700;
        line-height: 1; }
      main section.content-2 .content-wrapper .chef p.sub-header {
        text-transform: uppercase;
        font-family: "Alegreya", arial, sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #a47d5e; }
      main section.content-2 .content-wrapper .chef p.main-text {
        font-family: "Proxima Nova", arial, sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.7;
        margin: 70px 0px 45px 0px; }
      main section.content-2 .content-wrapper .chef h3 {
        font-family: "Alegreya", arial, sans-serif;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 45px; }
      main section.content-2 .content-wrapper .chef .chef-photo {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        max-width: 320px;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        main section.content-2 .content-wrapper .chef .chef-photo p {
          font-family: "Alegreya", arial, sans-serif;
          font-size: 24px;
          font-weight: 400;
          padding: 0 10px;
          position: relative; }
          main section.content-2 .content-wrapper .chef .chef-photo p:before {
            content: '';
            width: 100%;
            height: 1px;
            background-color: #d7d5ca;
            position: absolute;
            top: -15px;
            left: 0; }
          main section.content-2 .content-wrapper .chef .chef-photo p:after {
            content: '';
            width: 100%;
            height: 1px;
            background-color: #d7d5ca;
            position: absolute;
            bottom: -15px;
            left: 0; }
      main section.content-2 .content-wrapper .chef .chef-copy {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        max-width: 320px;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        main section.content-2 .content-wrapper .chef .chef-copy p {
          margin: 20px 0;
          font-family: "Scriptina", arial, sans-serif;
          font-size: 24px;
          font-weight: 300;
          color: #a47d5e; }
        main section.content-2 .content-wrapper .chef .chef-copy .left-quote {
          -webkit-align-self: flex-start;
              -ms-flex-item-align: start;
                  align-self: flex-start; }
        main section.content-2 .content-wrapper .chef .chef-copy .right-quote {
          -webkit-align-self: flex-end;
              -ms-flex-item-align: end;
                  align-self: flex-end; }
    main section.content-2 .content-wrapper .cake-img {
      width: -webkit-calc(50% - 15px);
      width: calc(50% - 15px);
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      position: relative;
      margin: 40px 0; }
      @media screen and (max-width: 960px) {
        main section.content-2 .content-wrapper .cake-img {
          width: -webkit-calc(100% - 15px);
          width: calc(100% - 15px); } }
      @media screen and (max-width: 680px) {
        main section.content-2 .content-wrapper .cake-img {
          width: -webkit-calc(100% - 15px);
          width: calc(100% - 15px); } }
      @media screen and (max-width: 560px) {
        main section.content-2 .content-wrapper .cake-img {
          width: -webkit-calc(100% - 15px);
          width: calc(100% - 15px); } }
      main section.content-2 .content-wrapper .cake-img img {
        width: 50%;
        max-width: 313px; }
      main section.content-2 .content-wrapper .cake-img .cover-logo {
        width: 100%;
        max-width: 247px;
        height: auto;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%); }

main section.content-3 {
  background-image: url("../img/bg-3.png");
  background-size: cover;
  background-position: center;
  padding-top: 130px;
  padding-bottom: 110px; }
  @media screen and (max-width: 1200px) {
    main section.content-3 .content-wrapper {
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }
  main section.content-3 .content-wrapper .pancake {
    width: -webkit-calc(33.33333% - 15px);
    width: calc(33.33333% - 15px);
    margin-left: -webkit-calc(8.33333% + 7.5px);
    margin-left: calc(8.33333% + 7.5px); }
    @media screen and (max-width: 960px) {
      main section.content-3 .content-wrapper .pancake {
        width: -webkit-calc(100% - 15px);
        width: calc(100% - 15px); } }
    @media screen and (max-width: 960px) {
      main section.content-3 .content-wrapper .pancake {
        margin-left: -webkit-calc(0% + 7.5px);
        margin-left: calc(0% + 7.5px); } }
    main section.content-3 .content-wrapper .pancake img {
      margin: 0 auto; }
  main section.content-3 .content-wrapper .pancake-text {
    width: -webkit-calc(41.66667% - 15px);
    width: calc(41.66667% - 15px);
    position: relative;
    color: #56534c;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 40px 60px 0 60px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #ffffff;
    background-image: url("../img/windmill.png");
    background-repeat: no-repeat;
    background-position: right bottom; }
    @media screen and (max-width: 960px) {
      main section.content-3 .content-wrapper .pancake-text {
        width: -webkit-calc(100% - 15px);
        width: calc(100% - 15px); } }
    main section.content-3 .content-wrapper .pancake-text h2 {
      font-family: "Alegreya", arial, sans-serif;
      font-size: 48px;
      font-weight: 700;
      line-height: 1; }
    main section.content-3 .content-wrapper .pancake-text p.sub-header {
      text-transform: uppercase;
      font-family: "Alegreya", arial, sans-serif;
      font-size: 14px;
      font-weight: 400;
      color: #a47d5e;
      margin-top: 10px; }
    main section.content-3 .content-wrapper .pancake-text p.main-text {
      font-family: "Proxima Nova", arial, sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.7;
      margin: 20px 0px; }
    main section.content-3 .content-wrapper .pancake-text .ready-pop {
      background-image: url("../img/pop-bg.png");
      width: 200px;
      height: 200px;
      position: absolute;
      top: -85px;
      right: -100px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-shadow: -20px 20px 60px -2px #69503a;
              box-shadow: -20px 20px 60px -2px #69503a;
      font-family: "Alegreya", arial, sans-serif;
      font-size: 18px;
      font-weight: 400; }
      main section.content-3 .content-wrapper .pancake-text .ready-pop p.ready {
        color: #a47d5e;
        text-transform: uppercase; }
      main section.content-3 .content-wrapper .pancake-text .ready-pop p.number {
        color: #dfc691;
        font-size: 92px;
        line-height: 1; }
      main section.content-3 .content-wrapper .pancake-text .ready-pop p.mins {
        color: #979285; }
    main section.content-3 .content-wrapper .pancake-text .bx-wrapper {
      -webkit-box-shadow: none;
              box-shadow: none;
      margin: 0 auto;
      border: none;
      width: 100%;
      max-width: 485px !important; }
      main section.content-3 .content-wrapper .pancake-text .bx-wrapper .bx-viewport {
        height: 90px; }
      main section.content-3 .content-wrapper .pancake-text .bx-wrapper .slide {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
    main section.content-3 .content-wrapper .pancake-text .bx-controls .bx-prev {
      left: -5px;
      background: url("../img/arrow-left.png");
      -webkit-transition: all 0.4s;
      transition: all 0.4s; }
      main section.content-3 .content-wrapper .pancake-text .bx-controls .bx-prev:hover {
        background: url("../img/arrow-left-hover.png"); }
    main section.content-3 .content-wrapper .pancake-text .bx-controls .bx-next {
      right: -5px;
      background: url("../img/arrow-right.png");
      -webkit-transition: all 0.4s;
      transition: all 0.4s; }
      main section.content-3 .content-wrapper .pancake-text .bx-controls .bx-next:hover {
        background: url("../img/arrow-right-hover.png"); }

main section.content-4 {
  background-image: url("../img/bg-4.png");
  background-size: cover;
  background-position: center;
  padding: 80px 0; }
  main section.content-4 .content-wrapper .left-column {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    text-align: center; }
    @media screen and (max-width: 960px) {
      main section.content-4 .content-wrapper .left-column {
        -webkit-flex-basis: 100%;
            -ms-flex-preferred-size: 100%;
                flex-basis: 100%; } }
    main section.content-4 .content-wrapper .left-column h2 {
      font-family: "Alegreya", arial, sans-serif;
      font-size: 48px;
      font-weight: 700;
      line-height: 1;
      color: #ffffff; }
    main section.content-4 .content-wrapper .left-column p.sub-header {
      text-transform: uppercase;
      font-family: "Alegreya", arial, sans-serif;
      font-size: 14px;
      font-weight: 400;
      color: #a47d5e; }
    main section.content-4 .content-wrapper .left-column h3 {
      font-family: "Alegreya", arial, sans-serif;
      font-size: 30px;
      font-weight: 700;
      letter-spacing: 0.05em;
      color: #ffffff;
      margin-top: 55px; }
    main section.content-4 .content-wrapper .left-column p.breakfast-desc {
      font-family: "Alegreya", arial, sans-serif;
      font-size: 16px;
      font-weight: 400;
      color: #c2beba;
      letter-spacing: 0.05em; }
    main section.content-4 .content-wrapper .left-column p.price {
      font-family: "Alegreya", arial, sans-serif;
      font-size: 36px;
      font-weight: 400;
      color: #dfc691; }
  main section.content-4 .content-wrapper .right-column {
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    max-width: 420px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #f3f1e9; }
    @media screen and (max-width: 960px) {
      main section.content-4 .content-wrapper .right-column {
        -webkit-flex-basis: 100%;
            -ms-flex-preferred-size: 100%;
                flex-basis: 100%; } }
    main section.content-4 .content-wrapper .right-column .menu {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      height: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      border: 1px dashed #9e9c93;
      padding: 0 15px; }
      main section.content-4 .content-wrapper .right-column .menu .menu-head {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around;
        margin: 20px 0; }
        main section.content-4 .content-wrapper .right-column .menu .menu-head p {
          font-family: "Alegreya", arial, sans-serif;
          font-size: 14px;
          font-weight: 700;
          color: #56534c;
          text-transform: uppercase; }
      main section.content-4 .content-wrapper .right-column .menu h4 {
        font-family: "Alegreya", arial, sans-serif;
        font-size: 44px;
        font-weight: 700;
        color: #56534c;
        text-align: center;
        margin: 40px 0; }
      main section.content-4 .content-wrapper .right-column .menu p {
        font-family: "Proxima Nova", arial, sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #56534c; }
      main section.content-4 .content-wrapper .right-column .menu a {
        margin: 80px 0 20px;
        padding: 10px 50px;
        font-family: "Alegreya", arial, sans-serif;
        font-size: 14px;
        font-weight: 700;
        color: #a47d5e;
        text-transform: uppercase;
        letter-spacing: 0.3em;
        border: 1px solid #9e9c93; }
        main section.content-4 .content-wrapper .right-column .menu a:hover {
          background-color: 164, 125, 94, 0.5; }

main section.content-5 {
  background-color: #f3f1e9;
  padding: 50px 0; }
  main section.content-5 .content-wrapper {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    main section.content-5 .content-wrapper .cont-5-headr {
      position: relative;
      text-align: center;
      margin: 0 auto;
      width: 100%;
      z-index: 10; }
      main section.content-5 .content-wrapper .cont-5-headr h2 {
        font-family: "Alegreya", arial, sans-serif;
        font-size: 48px;
        font-weight: 700;
        color: #56534c; }
      main section.content-5 .content-wrapper .cont-5-headr p.sub-header {
        text-transform: uppercase;
        font-family: "Alegreya", arial, sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #a47d5e;
        margin-top: 10px; }
      main section.content-5 .content-wrapper .cont-5-headr img {
        position: absolute;
        width: 120px;
        height: auto;
        top: -40px;
        z-index: -1;
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%); }
    main section.content-5 .content-wrapper .cont-5-products {
      width: -webkit-calc(25% - 15px);
      width: calc(25% - 15px); }
      @media screen and (max-width: 960px) {
        main section.content-5 .content-wrapper .cont-5-products {
          width: -webkit-calc(100% - 15px);
          width: calc(100% - 15px); } }
      main section.content-5 .content-wrapper .cont-5-products .prod-item {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        main section.content-5 .content-wrapper .cont-5-products .prod-item h5 {
          font-family: "Alegreya", arial, sans-serif;
          font-size: 30px;
          font-weight: 400;
          color: #a47d5e; }
        main section.content-5 .content-wrapper .cont-5-products .prod-item:nth-child(2) {
          margin: 50px 0; }
        main section.content-5 .content-wrapper .cont-5-products .prod-item p {
          font-family: "Proxima Nova", arial, sans-serif;
          font-size: 14px;
          font-weight: 400;
          color: #56534c;
          text-align: center;
          margin-top: 20px; }
    main section.content-5 .content-wrapper .cont-5-img {
      width: -webkit-calc(75% - 15px);
      width: calc(75% - 15px);
      position: relative; }
      @media screen and (max-width: 960px) {
        main section.content-5 .content-wrapper .cont-5-img {
          width: -webkit-calc(100% - 15px);
          width: calc(100% - 15px); } }
      main section.content-5 .content-wrapper .cont-5-img .recipe {
        position: absolute;
        bottom: 10px;
        left: 30px; }
        main section.content-5 .content-wrapper .cont-5-img .recipe a {
          padding: 20px 50px;
          background-color: #ffffff;
          font-family: "Alegreya", arial, sans-serif;
          font-size: 14px;
          font-weight: 700;
          color: #a47d5e;
          text-transform: uppercase;
          letter-spacing: 0.3em;
          border: 1px solid #9e9c93; }
      main section.content-5 .content-wrapper .cont-5-img .ready-pop-cont-5 {
        background-image: url("../img/pop-bg.png");
        width: 200px;
        height: 200px;
        position: absolute;
        top: -85px;
        right: -30px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-shadow: -20px 20px 60px -2px #69503a;
                box-shadow: -20px 20px 60px -2px #69503a;
        font-family: "Alegreya", arial, sans-serif;
        font-size: 18px;
        font-weight: 400; }
        main section.content-5 .content-wrapper .cont-5-img .ready-pop-cont-5 p.ready {
          color: #a47d5e;
          text-transform: uppercase; }
        main section.content-5 .content-wrapper .cont-5-img .ready-pop-cont-5 p.number {
          color: #dfc691;
          font-size: 92px;
          line-height: 1; }
        main section.content-5 .content-wrapper .cont-5-img .ready-pop-cont-5 p.mins {
          color: #979285; }
