footer {
  background-color: #f3f1e9; }
  footer .content-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    footer .content-wrapper ul {
      border: 1px dashed #a47d5e;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      @media screen and (max-width: 680px) {
        footer .content-wrapper ul {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column; } }
      @media screen and (max-width: 680px) {
        footer .content-wrapper ul {
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center; } }
      footer .content-wrapper ul li {
        margin: 10px;
        color: #ffffff; }
        footer .content-wrapper ul li:nth-last-child() {
          margin: 0; }
        footer .content-wrapper ul li a {
          letter-spacing: 0.3em;
          font-family: "Alegreya", arial, sans-serif;
          font-size: 14px;
          font-weight: 400;
          text-transform: uppercase; }
    footer .content-wrapper .copy {
      padding: 20px 0; }
      footer .content-wrapper .copy p {
        font-family: "Alegreya", arial, sans-serif;
        font-size: 10px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.05em; }
