header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: rgba(86, 83, 76, 0.53); }
  header .head {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-left: -7.5px;
    margin-right: -7.5px;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media screen and (max-width: 1200px) {
      header .head {
        padding-left: 15px;
        padding-right: 15px; } }
    @media screen and (max-width: 960px) {
      header .head {
        padding-left: 15px;
        padding-right: 15px; } }
    @media screen and (max-width: 680px) {
      header .head {
        padding-left: 15px;
        padding-right: 15px; } }
    @media screen and (max-width: 560px) {
      header .head {
        padding-left: 15px;
        padding-right: 15px; } }
    @media screen and (max-width: 960px) {
      header .head {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; } }
    @media screen and (max-width: 680px) {
      header .head {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row; } }
    header .head a {
      color: #ffffff;
      -webkit-transition: all .4s;
      transition: all .4s; }
      header .head a:hover {
        color: #bda57d;
        -webkit-transition: all .4s;
        transition: all .4s; }
    @media screen and (max-width: 680px) {
      header .head .logo {
        -webkit-flex-basis: 50%;
            -ms-flex-preferred-size: 50%;
                flex-basis: 50%; } }
    header .head .logo a {
      font-family: "Scriptina", arial, sans-serif;
      font-size: 30px;
      font-weight: 400;
      letter-spacing: 0.3em; }
      header .head .logo a:hover {
        color: #ffffff; }
    header .head .hamburger {
      max-width: 50px; }
      @media screen and (max-width: 680px) {
        header .head .hamburger {
          -webkit-flex-basis: 50%;
              -ms-flex-preferred-size: 50%;
                  flex-basis: 50%; } }
    @media screen and (max-width: 680px) {
      header .head nav {
        -webkit-flex-basis: 100%;
            -ms-flex-preferred-size: 100%;
                flex-basis: 100%; } }
    header .head nav ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      @media screen and (max-width: 680px) {
        header .head nav ul {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column; } }
      @media screen and (max-width: 680px) {
        header .head nav ul {
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center; } }
      header .head nav ul li {
        color: #ffffff; }
        header .head nav ul li:nth-child(2n) {
          margin: 0 40px; }
        header .head nav ul li a {
          letter-spacing: 0.3em;
          font-family: "Alegreya", arial, sans-serif;
          font-size: 14px;
          font-weight: 400;
          text-transform: uppercase; }
    header .head .social ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      header .head .social ul li {
        color: #ffffff; }
        header .head .social ul li:nth-child(2) {
          margin: 0 28px; }
        header .head .social ul li a {
          font-size: 24px; }
